<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="./dist/boostrap.css">
</head>
<body>
<div class="container" id="app">
  <br>
  <!-- Modal -->
  <div
    class="modal fade"
    id="staticBackdrop"
    data-backdrop="static"
    data-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="staticBackdropLabel">Student🐣</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="get" action="#">
            <!-- Name-->
            <div class="form-group">
              <label for="name">Name: </label>
              <input v-model="form.name" type="text" id="name" class="form-control">
            </div>
            <!-- Gender-->
            <div class="form-group">
              <label for="gender">Gender: </label>
              <select v-model="form.gender" class="form-control" id="gender">
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
            </div>

            <!-- Age-->
            <div class="form-group">
              <label for="age">Age: </label>
              <input v-model="form.age" type="number" id="age" class="form-control">
            </div>

            <!-- Address-->
            <div class="form-group">
              <label for="address">Address: </label>
              <textarea v-model="form.address" class="form-control" id="address" rows="5"></textarea>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            @click="hideModal()"
            type="button"
            class="btn btn-outline-danger"
          >Close
          </button>
          <button
            v-if="form.id == null"
            type="button"
            class="btn btn-outline-primary"
            @click="addStudent()"
          >Save
          </button>

          <button
            v-if="form.id != null"
            type="button"
            class="btn btn-outline-primary"
            @click="updateStudent()"
          >Update
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card" style="box-shadow: 6px 5px 10px 1px #CCCC">
        <div class="card-header">
          <button @click="showModal()" class="btn btn-outline-primary">Add</button>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-borderless table-striped">
              <thead class="bg-primary">
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Age</th>
                <th>Address</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr
                v-for="(item, index) in student_list"
                :key="'student_list_'+index"
              >
                <td>{{ index + 1 }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.gender }}</td>
                <td>{{ item.age }}</td>
                <td>{{ item.address }}</td>
                <td>
                  <input
                    @click="getEdit(index, item)"
                    class="mr-3 btn btn-sm btn-outline-warning" type="button" value="Edit">
                  <input @click="deleteStudent(index, item)" class="btn btn-sm btn-outline-danger" type="button"
                         value="Delete">
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</body>
<script src="./dist/jquery.js"></script>
<script src="./dist/boostrap.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="./dist/vue.js"></script>
<script>
    const {createApp} = Vue
    createApp({
        created(){
            this.student_list = localStorage.getItem('student_list')
            this.student_list = JSON.parse(this.student_list)
            this.student_list = this.student_list ?? []
        },
        data() {
            return {
                form: {
                    id: null,
                    name: null,
                    gender: 'male',
                    age: null,
                    address: ''
                },
                student_list: []
            }
        },
        methods: {
            showModal() {
                $('#staticBackdrop').modal('show')
            },
            hideModal() {
                this.clearForm()
                $('#staticBackdrop').modal('hide')
            },
            addStudent() {
                this.student_list.push(this.form)
                localStorage.setItem('student_list', JSON.stringify(this.student_list))
                this.clearForm()
                this.hideModal()
            },
            clearForm() {
                this.form = {
                    id: null,
                    name: null,
                    gender: 'male',
                    address: ''
                }
            },
            deleteStudent(index, item) {
                Swal.fire({
                    title: "Are you sure?",
                    text: "Do you want to delete " + item.name + "?",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes, delete it!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        this.student_list.splice(index, 1)
                        localStorage.setItem('student_list', JSON.stringify(this.student_list))
                    }
                });
                // console.log(index)
                // console.log(item)
            },
            getEdit(index, item) {
                this.form.id = index
                this.form.name = item.name
                this.form.gender = item.gender
                this.form.age = item.age
                this.form.address = item.address
                this.showModal()
            },
            updateStudent() {
                this.student_list[this.form.id].name = this.form.name
                this.student_list[this.form.id].gender = this.form.gender
                this.student_list[this.form.id].age = this.form.age
                this.student_list[this.form.id].address = this.form.address

                localStorage.setItem('student_list', JSON.stringify(this.student_list))
                this.hideModal()
            },
        }
    }).mount('#app')
</script>
</html>